.card {
  width: 250px;
  margin: 20px;

}
.list-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.basket {
  position: fixed;
  right: 10%;
  top: 20%;

}

.products {
  float: right;
}

.basket-qty {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 15px;
  padding: 2px 8px;
}

.gray-totals {
  color: gray;
}

.total-main {
  font-size: 20px;
}

#error {
  color: red;
}