<head>
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/fontawesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<div class="container">  
    <h4 class="display-5">Email has been sent!</h4>
    <a href="/products">
        <button class="btn btn-success">Back</button>
    </a>
</div>
    